[D-BUS Service]
Name=org.freedesktop.impl.portal.desktop.thedesk
Exec=/usr/lib/xdg-desktop-portal-thedesk
SystemdService=xdg-desktop-portal-thedesk.service
