[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=/usr/bin/startdesk
TryExec=/usr/bin/startdesk
DesktopNames=theDesk
Name=theDesk
Comment=theDesk Desktop Environment
